[2021-04-16 12:09] skoruba opened #5 "Incorrectly used db connections for MySql"
MySql provider has incorrectly pasted db connection strings:

https://github.com/skoruba/Duende.IdentityServer.Admin/blob/main/src/Skoruba.Duende.IdentityServer.Admin.EntityFramework.Configuration/MySql/DatabaseExtensions.cs

[2021-04-20 23:08] coumarc9 opened #6 "Authorization error in API"
### Describe the bug
*I'm using Docker on Linux*
I try to use Swagger to call the endpoints of the API, but I always get this error:
[code]
I also get the same error using the images from Docker Hub (tag: preview3)
I tried to change the authorization policy (debugging), it seems that the authenticated user doesn't have claims:
https://github.com/skoruba/Duende.IdentityServer.Admin/blob/a07a55f2bf1

[2021-04-21 09:13] skoruba commented on #6
Hello @coumarc9 - I will check it, thanks!

[2021-04-24 14:42] itoop2019 opened #7 "How to add profile service correctly (.AddIdentityServer(...).AddProfileService(...)) ?"
**If I add a service profile, then there is no access to IdentityServer.Admin.**

![image](https://user-images.githubusercontent.com/47772383/115961808-b76f6700-a520-11eb-93d0-65a8774fdda8.png)

**It doesn't matter what the class does, the very fact of adding this class breaks something.**

[code]

**And when I try to login, I get:**
![image](https://user-images.githubusercontent.com/47772383/1159

[2021-04-26 15:13] skoruba opened #8 "Adding Client Token signing algorithms results in Error"
# Describe the bug
An error page is shown when trying to add additional token signing algorithms to a Client.
The selected items are not saved when reloading the client page.

More details here:
https://github.com/skoruba/IdentityServer4.Admin/issues/832

[2021-04-26 15:19] skoruba commented on #7
It looks like that you do not have correct role claim for sign in into IS4 Admin.
I think that you added the `ProfileService` correctly there.
Can you check that you have correct claims?
Thanks!

[2021-04-28 06:21] itoop2019 commented on #7
Thank you for the answer, I realized that the credits are lost, but it's strange that when this class is added. If the class is not added, then the admin works correctly

[2021-04-28 18:40] FabienDehopre opened #9 "Why automatic key management is disabled?"
### Question
Is there any reason why you disabled the automatic key management in StartupHelper class in STS project?
Here is the line: https://github.com/skoruba/Duende.IdentityServer.Admin/blob/a07a55f2bf12f53e385eff861328637d90a7d1f6/src/Skoruba.Duende.IdentityServer.STS.Identity/Helpers/StartupHelpers.cs#L351

I'm asking because I've just read an article on the blog of Duende Software about au

[2021-04-30 07:50] skoruba commented on #9
Hello @FabienDehopre - good question, I disabled this feature for my first preview version, I wanted keep migration easier from IS4 Admin. I will enable this feature for next preview version, that is great feature for sure. 😊 You can enable automatic key management by your own, but I will do it as well.
Thanks!

[2021-04-30 10:50] skoruba commented on #7
You can check the default ProfileService: https://github.com/DuendeSoftware/IdentityServer/blob/main/src/AspNetIdentity/ProfileService.cs - you can compare your code.
Thanks

[2021-04-30 15:48] FabienDehopre commented on #9
Thanks @skoruba.
Indeed, I was planning to enable it in my fork.

[2021-04-30 15:48] #9 closed

[2021-05-01 11:20] itoop2019 commented on #7
I figured it out, not yet completely, but it already worked. It turns out that if you use ProfileService, then the Clams will be removed and you need to add the ones you need yourself. And I thought that the existing Clams are not deleted and my new ones will reach them.

Thank you!

[2021-05-01 18:57] FabienDehopre commented on #9
FYI: the automatic key management feature is a licensed feature and cannot be activated in community edition apparently.

[2021-05-01 20:16] skoruba commented on #9
@FabienDehopre - Yes, it is - I will generate EF migrations for easier configuration. 😊

[2021-05-01 21:34] #5 closed

[2021-05-01 21:34] #8 closed

[2021-05-01 21:37] skoruba commented on #6
I fixed this issue in the release `1.0.0-preview5`, which is available in the master branch now.

Could you please test it? 😊

Thanks

[2021-05-02 12:17] itoop2019 commented on #7
Thanks

[2021-05-02 12:17] #7 closed

[2021-05-03 09:48] egbertn opened #11 "License not applied"
### Question
It seems that a valid license key is ignored.

    "AdvancedConfiguration": {
        "IssuerUri": "",
        "IdentityServerLicenseKey": "eyJhbG.........................."
    },

(Other options are off)

 "CertificateConfiguration": {

        "UseSigningCertificatePfxFile": true,
        "SigningCertificatePfxFilePath": "./mycerttttttttttttttttttt.pfx",
        "SigningCertificate

[2021-05-03 10:01] skoruba commented on #11
I will test it, thanks!

[2021-05-03 17:28] coumarc9 commented on #6
Hello,

I tested and it's fixed now.

Thank you!

[2021-05-03 17:28] #6 closed

[2021-05-04 06:37] skoruba commented on #6
Thank you for your feedback 👍

[2021-05-04 07:28] egbertn commented on #11
To answer my own question. Sorry to bother with this bogus question. UseSigningCertificatePfxFile is of course, only for signing the jwt. For signing http, (thus ssl) the 'ConfigureKestrel' section can be used.

[2021-05-04 07:28] #11 closed

[2021-05-04 07:46] skoruba commented on #11
Thanks, that makes sense.

[2021-05-05 13:52] egbertn opened #13 "License model"
### Question
Can Admin UI work well together with a duende license?

### Relevant parts of the log file

[code]

[2021-05-13 07:23] skoruba opened #14 "Revision of DTOs for IS configuration"

[2021-05-19 20:22] egbertn opened #15 "Why is logout prompt shown?"
### Question

### Relevant parts of the log file
My oidc-client (js) correctly passes arguments so the Identity Server should conclude: "This user was logged in by me".
This is done using the id_token_hint

[code]
However, the code below (Duende) concludes the user is not authenticated, so I get the following prompt, instead of continuting to sign out and redirect.

it says
` Logout you have been

[2021-05-19 20:46] egbertn commented on #15
Sorry wrong forum :)

[2021-05-19 20:46] #15 closed

[2021-05-19 22:35] #13 closed

[2021-05-20 06:44] skoruba commented on #13
Hello @egbertn - sorry for delayed anwser - did you find the issue? I think the licence key should work properly. 😎

[2021-05-26 09:28] marisks opened #16 "Release"
### Question

How far from the release is preview 5?
How could we upgrade from the preview versions to the release versions?

P.S. We would like to start using Duende IS and Admin UI but we had a bad experience with IS v4 Admin UI pre-release versions before. We have started with the pre-release version and then the whole [DB schema has changed](https://github.com/skoruba/IdentityServer4.Admin/iss

[2021-05-26 11:56] brockallen commented on #16
@marisks we have an upgrade guide now for IS4 x3 to Duende if that helps:

https://docs.duendesoftware.com/identityserver/v5/upgrades/is4_v3_to_dis_v5/

https://docs.duendesoftware.com/identityserver/v5/upgrades/

HTH

[2021-05-26 13:05] skoruba commented on #16
Hello @marisks - I think the `1.0.0-preview5` is pretty close to final release, I do not plan any breaking changes, right now I am testing that everything work correctly.

You can install whole project via `dotnet new template` and there is a lot of improvements - this solution uses whole UI like nuget package - views/controllers/resources are bundled into DLL and shipped as `Razor Class Library`

[2021-05-26 15:32] marisks commented on #16
That's awesome.

We are not planning the upgrade of the IS4 Skoruba Admin UI. Instead, we will create a new solution based on the new template and migrate data to the new DB. Yesterday I have set up Duende Skoruba Admin UI and tried copying over users and it worked perfectly.

That's great that the Admin UI upgrade is simplified. I hope STS UI will still be as it is now - with views/controllers an

[2021-06-16 14:44] skoruba opened #18 "Add wizard for client registration"

[2021-06-16 14:46] skoruba opened #19 "Add option for exclusion of STS from project template"

[2021-06-16 14:46] skoruba opened #20 "Add feature for import/export IdentityServer data in JSON file"

[2021-06-16 14:47] skoruba opened #21 "Add management of external provider"

[2021-07-05 07:55] ekjuanrejon commented on #16
can preview 6 be used?

[2021-07-05 08:06] skoruba opened #22 "Add management for claims"
Related with this feature: https://github.com/skoruba/IdentityServer4.Admin/pull/564

[2021-07-05 08:08] skoruba opened #23 "Connect Admin Api to the Admin UI"
Related to this feature: https://github.com/skoruba/IdentityServer4.Admin/issues/478

[2021-07-05 08:15] skoruba opened #24 "Add flag to deactivate Asp.Net Core Identity"
Related to this feature: https://github.com/skoruba/IdentityServer4.Admin/issues/79

[2021-07-05 08:21] skoruba opened #25 "MySQL migration issue"
This issue related to this issue: https://github.com/skoruba/IdentityServer4.Admin/issues/847

[2021-07-05 08:24] skoruba opened #26 "Add mechanism how to easily extend Identity with new columns"

[2021-07-05 08:25] skoruba opened #27 "Add flag to activate/deactivate Audit Logging"

[2021-07-05 08:38] skoruba opened #28 "Add options which database migrations will be applied"
- Add options which database migration will be applied according to specific DbContext (IdentityServer, Identity, AuditLogging, ErrorLogging)

[2021-07-05 15:42] skoruba commented on #16
Sure, you can - everything seems to work good.

I am working on new features - I hope that the first release will be finished soon. 🙂

[2021-07-05 23:29] bitai-cs opened #29 "Update Pomelo.EntityFrameworkCore.MySql from beta to 5.x version"
Update Pomelo.EntityFrameworkCore.MySql from beta to 5.x version

[2021-07-06 17:03] bitai-cs commented on #25
The problem is caused by the following line in the migration scripts: "longtext CHARACTER SET utf8mb4(4000)"
The data type 'longtext' should not be assigned a specific length.

I overcame the problem by removing the HasMaxLength (4000) from the migration scripts.

[2021-07-06 18:17] skoruba commented on #25
@bitai-cs - thanks - I will update the package and fix the db migration script for mysql.

[2021-08-02 04:17] murugaratham opened #30 "OpenLDAP integration"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

On-Prem Active Directory integration.

**Describe alternatives you've considered**
Not much alternatives right now, unless to go raw Identity

[2021-08-12 20:04] skoruba opened #31 "Change UI to use Razor Pages"
It seems that it would be good to replace `MVC` with `Razor Pages` - especially that `Razor Pages` will be better if somebody will want to replace some view/action in the package - `Skoruba.Duende.IdentityServer.Admin.UI` which is built as  `Razor Class Library`.

Feedback is always welcome. 🙂

Thanks 👍

[2021-08-17 19:48] meysamhadeli opened #32 "Supporting next version of Identity Server"
Hi.
what is your plan for upgrading to next version of identity server and its licence?

- [ASP.NET Core 6 and authentication servers: the real bait and switch is not the one you think](https://kevinchalet.com/2021/05/24/asp-net-core-6-and-authentication-servers-the-real-bait-and-switch-is-not-the-one-you-think/)
- [ASP.NET Core 6 and Authentication Servers](https://devblogs.microsoft.com/aspnet/a

[2021-08-20 06:55] skoruba commented on #32
Hello @meysamhadeli

I continue on this project, I will definitely provide the Admin UI for Duende IdentityServer. 😊

Thanks!

[2021-10-01 15:44] ekjuanrejon opened #33 "Features"
### Question
Is repo still being maintain with the latest Duende Identity Server?

[2021-10-01 16:29] skoruba commented on #33
Hey,

I will update it to the latest version ASAP, I was busy. 🙂

Thanks

[2021-10-01 18:43] brockallen commented on #33
FWIW, we have a 6.0-preview-1 out for .NET 6 :)

[2021-10-26 23:35] albrookesplowman opened #34 "Examples of how to configure external provider such as Azure AD"
Do you have any examples of how to configure the connection to an external provider such as Azure AD.  I have found the settings in the appsettings.json file which I can configure but I have found in the documentation a lot of information about the calbackpath and the steps on interrogating the data that comes back from the external provider.

Sadly, I am a backend C# API developer and also an Ang

[2021-11-23 16:12] finsharp opened #35 "Multitenancy Capabilities"
How can we use Admin to support multi tenant scenarios for a Saas product?

[2021-12-10 12:18] albrookesplowman opened #36 "Where do user roles get stored in a token?"
I have got this working under Visual Studio and it all works really well and I can use the admin account to open up the admin UI correctly.  However, when I run it under docker, it fails to access the admin UI with the admin account  with a violation of the AuthorizationPolicy saying the user is not in the Administrator role.

If I open the database, I can see that there is a user called Admin cre

[2021-12-11 10:16] skoruba opened #37 "Update to .NET 6"
Related - https://github.com/skoruba/IdentityServer4.Admin/pull/928

[2021-12-11 10:19] skoruba commented on #35
Hello, I am sorry for delayed answer, currently the multi tenancy is not supported.

I will work on it next year.

Thanks for requesting this feature.

[2021-12-11 18:43] skoruba opened #39 "Add key management"

[2021-12-16 17:04] skoruba opened #41 "Update to bootstrap 5"

[2021-12-19 11:09] #39 closed

[2021-12-19 11:09] skoruba commented on #25
Fixed in 1.0.0

[2021-12-19 11:09] #25 closed

[2021-12-19 11:10] skoruba commented on #29
Fixed in 1.0.0, please check it.
thanks

[2021-12-19 11:10] #29 closed

[2021-12-20 13:07] skoruba opened #43 "Added option to exit after migrating the database"
https://github.com/skoruba/IdentityServer4.Admin/pull/896

[2021-12-21 21:23] skoruba opened #45 "Attempt to remove User from the Role fires an exception"
Issue detail - https://github.com/skoruba/IdentityServer4.Admin/issues/942

[2022-01-05 15:46] goodtogood opened #46 "[mysql 5.7 && 8.0] Specified key was too long; max key length is 1000 bytes"
NET5 MySql 5.7 Win10 64bit

### Describe the bug

 Specified key was too long; max key length is 1000 bytesv

### To Reproduce

clone this repo , latest code
after modified appsettings.json then running Skoruba.Duende.IdentityServer.Admin
the log looks like below
I also tried using mysql8.0, the same result
I also read  issues about this problem #https://github.com/skoruba/IdentityServer4.Admin/is

[2022-01-15 11:57] cjaliaga commented on #37
@skoruba sorry for hijacking this issue :) Will this update to .NET 6 also come to an update to Duende Identity Server v6? Since now the community license of Duende Identity Server v6 has removed the limitations (including the 5 max clients), more people will upgrade from Identity Server v4 to Duende Identity Server v6. Do you know if moving from our Identity Server Admin to Duende Identity Server

[2022-01-15 14:01] skoruba commented on #37
Hi @cjaliaga - sure, I will update this PR #44 with IS v6, I will do it during the next week.

You can definitely update from IS4 Admin to Duende IS Admin - I want to write some guide - how to migrate it. 😊

Thanks for your feedback!

[2022-01-15 14:05] skoruba commented on #46
Hello @goodtogood - thanks for your feedback on MySQL, I am confused that this issue is still there. 🤔
I am testing new version with .NET 6 and the latest version of MySQL EF library and everything works - can you please check this PR: #44

Thanks!

[2022-01-25 16:41] skoruba opened #49 "Update to IdentityServer v6"

[2022-01-26 14:14] #49 closed

[2022-01-26 14:14] skoruba commented on #37
Done.

[2022-01-26 14:14] #37 closed

[2022-01-26 14:28] barelabs commented on #49
Awesome, thank you! :)

[2022-02-08 14:12] Fabio7586 opened #51 "Unable to start admin"
Hello, i cannot able to start Admin proj.

Swagger and sts works flawless but when start Admin in iis express this is result.

![2022-02-08_151200](https://user-images.githubusercontent.com/11045183/153004157-740f19e4-7fef-4c03-8170-87f9c7d3b26a.png)

What am I doing wrong?

Thank you

[2022-02-10 17:39] rpbrongers commented on #51
Please check the ports and processes that are running on them. Most likely the admin project tries to find the sts on a port that is not listening (you can't just start admin alone, it needs the sts)

[2022-02-10 21:31] Fabio7586 commented on #51
indicating admin in the subdomain, i typed "admn" instead admin and it didn't wrong. Anyway Thank you for support.

[2022-02-20 10:54] penCsharpener opened #53 "Cannot start Duende server in visual Studio with MySql"
### Describe the bug
I always get the error `Table 'skoruba-auth-server-duende.DataProtectionKeys' doesn't exist` when trying to start the solution.

### To Reproduce
* create project secrets.json of projects Admin. Admin.Api and STS.Identity
* configure to use MySql and set connection string (with empty db in MySql)
* set multiple startup projects in solution (Admin, Admin.Api, STS.Identity)
* ru

[2022-02-20 11:03] penCsharpener commented on #53
as a relevant side note the same works with your IS4 solution

[2022-02-21 17:07] VictorioBerra opened #54 "Should the docker-compose.vs.*.yml reference .NET 6?"
### Describe the bug
I am struggling to get Docker to work.

- Windows 10
- Docker
- WSL2
- Ubuntu
- Visual Studio 2022
- .NET 6
- Skoruba.Duende.IdentityServer.Admin.Templates::1.1.0

https://github.com/skoruba/Duende.IdentityServer.Admin/blob/63a89aaae7e4e22731305756825eff3ec184ad07/templates/template-publish/content/docker-compose.vs.debug.yml#L8

### To Reproduce
Steps to reproduce the behavio

[2022-02-22 20:14] skoruba commented on #54
Hello @VictorioBerra - thank you, I will fix it. 👍

[2022-02-22 20:16] skoruba commented on #53
Hello, can you please check that tables for dataproctection is created in the db? :) Thanks

[2022-02-22 20:52] penCsharpener commented on #53
no, the table is not there. When I start with an empty db and do `dotnet run` in the .Admin project I get this error.

[code]

[2022-02-23 15:55] rondelward-pf opened #55 "(mkcert) SSL Trust issues running in IIS locally"
### Question

I'm running into a strange issue with SSL certs not being trusted when running in IIS from the Admin and Admin API applications. I'm using locally generated certificates from `mkcert` which are fully trusted by my browser. I have the root certificate installed and things seem fine when examining from the browser side. However, when I attempt to hit the Admin site, I get exceptions an

[2022-02-23 17:28] skoruba commented on #53
Honestly, I do not know where is the issue 😁 what version of mysql do you have?  I tried it with MySql database and it works.
Maybe you can try to delete default mysql db migrations and generate them from scratch.
Give me please feedback if you find the solution.
Thanks!

[2022-02-23 17:29] #45 closed

[2022-02-23 17:29] #46 closed

[2022-03-02 16:02] hoba84 opened #59 "Refactor dependency to Azure Key Vault"
### Question
Shouldn't the dependency to Azure Key Vault for data protection be refactored as such, so that a "provider" loads the required keys for data protection - no matter where they are loaded from? Because such keys can also be provided by other means. Especially in an on-premise or even air-gaped scenario, Azure Key Vault is not accessible.

[2022-03-03 07:18] longletian commented on #53
me too

[2022-03-03 07:36] gepa21 commented on #53
had the same issue too, deleting and regenerating migrations "fixed" it.
(using MySQL 8.0.22)

[2022-03-03 08:01] skoruba commented on #53
OK, thanks for reporting this issue, do you know where is the issue?

[2022-03-04 09:06] hoba84 opened #60 "Question regarding architecture and how IdentityServer is used"
Hi, from the docs it's not clear for me how the architecture/project setup is intended to work. I see there are three services which need to be exposed, which are:

- Admin
- AdminAPI
- STS

Is STS intended to communicate (or in other words, to aggregate) the IdentityServer? This would mean, that the IdentityServer needs to be hosted as an additional service to the above three? Or is STS wrapping

[2022-03-04 09:57] hoba84 commented on #60
So, I think I can answer my own question - while playing around, I figured out that indeed STS is the IdentityServer instance itself - so there is no need for hosting IdentityServer separately. Sorry, this was no clear to me, initially.

[2022-03-04 09:57] #60 closed

[2022-03-10 15:17] longletian commented on #53
![image](https://user-images.githubusercontent.com/28197668/157692756-f04ac86b-28b1-42cc-961d-f7fe9b32ded1.png)
delete code

[2022-03-16 13:24] hdu7 opened #63 "Where is seed data located?"
### Question
Where is seed data located?
### Relevant parts of the log file

[code]

[2022-03-16 13:44] skoruba commented on #63
Here:

**Identity Data:**
https://github.com/skoruba/Duende.IdentityServer.Admin/blob/main/src/Skoruba.Duende.IdentityServer.Admin/identitydata.json

**IdentityServer Data:**
https://github.com/skoruba/Duende.IdentityServer.Admin/blob/main/src/Skoruba.Duende.IdentityServer.Admin/identityserverdata.json

[2022-03-16 16:03] hdu7 opened #64 "Issue to deploy to Azure"
### Question
I got a error when I tried to deploy to Azure.
### Relevant parts of the log file

[code]

[2022-03-16 16:24] skoruba commented on #64
Where do you host your app? Azure app service?

[2022-03-16 16:29] hdu7 commented on #64
Azure app service

[2022-03-16 16:30] hdu7 commented on #64
Azure app service with .net 6 as runtime framework, no dock container

[2022-03-17 08:48] Diponchik opened #65 "Admin project styles don't work with other from Development environment variable"
Hello there. I was trying to run an admin project with my "Local" ASPNETCORE_ENVIRONMENT, but I discovered, that styles don't work on this environment and after I changed it back to development, then it started working.

Steps to reproduce: Change ASPNETCORE_ENVIRONMENT to something else ("Local" for example) and run the project. Styles should be missed.

![image](https://user-images.githubusercon

[2022-03-17 09:19] Diponchik commented on #51
I have the same issue, but with deployed in the Azure project. Locally everything works fine, but when I deployed sts and admin projects to Azure, I started to receive such kind of error. In addition, I have this issue not only with the admin project. For other Clients connected to the identity server, I'm getting access tokens, but through validating this token in my .net core project, I'm gettin

[2022-03-18 08:33] Diponchik commented on #51
I found a solution for my case. The reason was VPN restrictions, which blocked access from the admin to the STS project. So I just added IPs addresses to the whitelist and it begin working.  So, if you encountered this problem, firstly check access between apps.

[2022-03-25 14:27] marcantoinecouture opened #66 "Disable the delete account button and edit profile"
**Is your feature request related to a problem? Please describe.**
It's not possible to disable the delete account button or disable fields like email in the `/Manage` page. On a private SSO, we may want to disable this user feature and only manage the user profile on the admin client or the admin API.

**Describe the solution you'd like**
Add configuration in the SSO that disabled the delete butt

[2022-03-29 10:15] nighttiger1990 commented on #53
I got same when using MySql DB. Version 8.0.27
When using each database connection for each context
I got issue at TST Project which don't know DataProtectionDB

Solved as same as @gepa21 deleting migration all regenerating

1./ Delete all Migration
2./ Run these command - change `${projectName}` to your_real_project_name

[code]

[2022-03-29 13:06] Charmedme opened #67 "Cartesian product produced by opening a client in Admin UI"
### Describe the bug
Opening a client with +300 cors origins and redirect uris causes 504 on our gateway because the call takes too long.
We had a similair problem with our old IdentityServer4 v3.14 version. The cause was a cartesian product on a client that had includes on ClientCorsOrigins, ClientRedirectUris and ClientPostLogoutRedirectUris. After a certain amount of entries a performance degra

[2022-04-05 16:54] selangley-wa opened #68 "Is this Admin compatible with Duende's Backend for Frontend (BFF)?"
### Question
I've read that  [Duende's Backend for Frontend (BFF)](https://duendesoftware.com/products/bff) is a more secure way to authorize your clients, but we've already built some functionality around the Skoruba IdentityServer.Admn.

Is Duende.IdentityServer.Admin compatible with with [Duende's BFF](https://duendesoftware.com/products/bff), or would it require major modifications in order fo

[2022-04-17 17:30] Tony20221 opened #69 "How to login as admin?"
First of all, I don't see a parameter for the admin user name when setting up a new project. What is the username associated with the adminpassword parameter? I mean adminpassword isthe password for what user?

I had to read more and found out that the username is in the identitydata.json file. So the admin user is 'admin'.

When I try to log in using those credentials, it seems I am logged in as

[2022-04-29 07:35] marisks commented on #22
Any ETA when this could be implemented (or just brought over from IS v4)?

[2022-05-06 15:40] Anushiravani opened #70 "create new user from api"
i have spa application . i want to signup and create new user with api
how can i to create new user with api ?

 i dont want to use admin ui and i dont want to redirect user to another page for signup

[2022-05-11 18:40] JacksonHamner commented on #65
We are seeing this in our project too, any idea what might be causing this?

[2022-05-16 22:31] selangley-wa commented on #65
It appears to be something strange with how the staticwebassets for the Skoruba.Duende.IdentityServer.Admin.UI NuGet package are handled / processed when running in a non-development environment.

For my custom Duende.IdentityServer.Admin project generated using the template, if I:

1. Move the directory:

{$USERPROFILE}\.nuget\packages\skoruba.duende.identityserver.admin.ui\1.1.0\staticwebassets

[2022-05-18 07:42] erossini-chi opened #72 "Configure GitHub as external provider"
Hi guys,
I have just configured and replace my old Skoruba with the new one. Thank you for your great job! I'm fighting with the configuration of GitHub. First, in the configuration

[code]

there is a value misses `GitHubCallbackPath`. So, I think you can change the configuration in

[code]

My question is about the callback. I tried different path

- /signin-github
- /signin-oidc

but none of th

[2022-05-18 07:50] erossini-chi opened #73 "External provider name on login button"
I configure Azure Active Directory in my STS project and it is working. The only think I like to change is in the UI. The login button text says "OpenIdConnect".

![image](https://user-images.githubusercontent.com/70210793/168985194-a6bde49b-d6f8-4407-aca0-22e3e34064a9.png)

I like to change it in "Azure Active Directory". How can I do that?

---

Because I was struggle to find the info, as a refe

[2022-05-18 09:28] erossini commented on #73
My implementation for that is as follows:

- in `ExternalProvidersConfiguration` add this line
[code]
- in the `appsettings` you can add a new property `AzureDisplayName` with the name you want to display
- in the `StartupHelpers.cs` change line 411
[code]

Done!

[2022-05-18 10:34] erossini commented on #72
You have to use

[code]

You can see my [post](https://www.puresourcecode.com/forum/asp-net-core/configure-github-as-external-provider-in-identityserver-duende/#post-134).

[2022-05-18 11:19] Maxmyd opened #74 "Allow the application run under Linux OS family"
Hello,
Problem is the application now is not running on Linux, though it supports .NET 6

What to do (I did, and it worked)
1. Import Microsoft.Extensions.Hosting.Systemd package from Nuget
2. In Program.cs:
[code]
3. Add a .service file to the project. Names, urls and variables in the file might vary of course:
[code]
4. Compile, deploy and start service using "systemctl" command

Would be nice i

[2022-05-20 00:11] swmolen opened #75 "Running In Docker using koruba.duende.isadmin Template breaks the container"
Running the Template koruba.duende.isadmin breaks the container because the template writes out a docker-compose debug with .net 5.0 in it instead of .net 6.

[2022-05-20 00:12] swmolen commented on #54
I found this too. you can go ahead and close my issue, this one is much better documented.

[2022-05-20 00:14] #75 closed

[2022-05-20 00:33] darthmolen opened #76 "Logging into admin with "admin" and out-of-box configuration causes "Invalid HTTP request for token endpoint""
### Question

When logging into admin with the admin username and password set during template setup, the sts-identity container gives an "Invalid HTTP request for token endpoint" even after authenticating the user successfully.

### Relevant parts of the log file

[code]

[2022-05-20 00:43] darthmolen commented on #22
Same question here. We're wanting to use claim based rather than role based.

[2022-05-20 02:23] darthmolen commented on #76
I rebooted my system, and it magically cleared up. No clue. I was in the process of implementing HttpLogging

[2022-05-20 02:23] #76 closed

[2022-05-26 09:13] Zhy946644 commented on #72
Hi, I'm having the same problem. But the platform I'm using is WeChat and I don't know what CallbackPath needs to be filled in. So, I'd like to ask you where to look or where to check, thanks,Looking forward to hearing from you！
![image](https://user-images.githubusercontent.com/77084258/170457283-0b76337e-3913-4637-84e8-75ddd0be7dd0.png)

[2022-06-09 12:07] expbk opened #77 "Speed Issue with Using PostgreSQL with Identity on Docker setup"
Hello,

I am using a docker setup on my local with PostgreSQL database and while logging in it takes about 3-4 seconds just to redirect to the  next page. can someone explain if there's some actual issue with this ?

[2022-06-12 18:12] darthmolen commented on #35
We are interested in this as well and would love to discuss what it would take to fast-track this task.

[2022-06-12 18:15] darthmolen opened #78 "Adding Consumer in Project Causes SSL Partial Chain Failure"
### Question

Using Docker. Admin works with certificates installed.

When adding a consumer to the project, we get a "SSL Partial Chain Error". identity provider base url is set to "https://sts.skoruba.local".

As mentioned, admin can be logged into.

![image](https://user-images.githubusercontent.com/533340/173247415-d316ec20-918c-44f8-a390-ee9176b4ce5b.png)

[2022-06-13 08:40] senzacionale opened #79 "Upgrade to Duende.IdentityServer.* version 6.1.0"
Hello,

Do you plan to make an upgrade to Duende.IdentityServer.* to version 6.1?

[code]

[2022-06-13 17:55] #32 closed

[2022-06-13 21:02] darthmolen commented on #78
I got past this doing a number of steps:

Found [this article on stackoverflow](https://github.com/AzureAD/microsoft-identity-web/issues/115) that clued me in on what was going on. Went through the sts code and found the following 2 events:

* OnRedirectToIdentityProvider
* OnRedirectToIdentityProviderForSignOut

added those in.

[code]

Also had to go source the DockerHelper code to import the ca

[2022-06-13 21:05] darthmolen commented on #78
New problem though:

[code]

even after importing the authentication helpers for cookies.

[code]
They seriously make working in a container almost impossible....

What did I miss @skoruba ?

[2022-06-15 03:59] pegan23 commented on #53
I too found issues with the 20220123140746_UpdateToIS61.cs migration
MySql 8.0.29 .. Duende Admin v6.1.0

After some digging I was able to resolve most of the issues.
1) The CREATE INDEX migrations must be moved ahead of the associated DROP INDEX migrations
`
            migrationBuilder.CreateIndex(
                name: "IX_IdentityResourceProperties_IdentityResourceId_Key",
                tabl

[2022-06-15 13:01] senzacionale opened #80 "AuthenticationScheme: "oidc" was challenged."
I can log in to admin locally but not on docker behind CloudFlare

[2022-06-15T12:39:07.1355220+00:00][INFO][19][Microsoft.AspNetCore.Authorization.DefaultAuthorizationService] Authorization failed. "These requirements were not met:\nRolesAuthorizationRequirement:User.IsInRole must be true for one of the following roles: (Admin)"
[2022-06-15T12:39:07.6528419+00:00][INFO][3][Microsoft.AspNetCore.Au

[2022-06-15 15:04] bruceharrison1984 opened #81 "connect/token is redirecting to GET endpoint?"
### Question
I'm trying to run a basic test using the Docker compose setup, and I cannot seem to get Postman fetch an access token. The connect/token endpoint is redirect me away from `POST` and back to `GET` which results in the token request returning `invalid_request`.
![image](https://user-images.githubusercontent.com/17836372/173860032-aaca66bc-31c1-424c-896d-7eac3b5a8cf3.png)

I'm also seein

[2022-06-15 16:08] bruceharrison1984 commented on #81
I'm seeing the exact same behavior from https://github.com/skoruba/IdentityServer4.Admin as well, so I can only assume I am doing something incorrectly when running this locally.

[2022-06-15 18:59] bruceharrison1984 commented on #81
My issue was my token and authorizer urls were set to `http` scheme instead of `https`. Once i corrected for this, I was able to retrieve a token via Postman.

Good job on this!

[2022-06-15 18:59] #81 closed

[2022-06-17 16:37] softwareguy74 commented on #26
Has any work been done on this?  I need to see columns to the User class.  Thanks

[2022-06-28 06:53] senzacionale commented on #80
Problem fixed. This part is not directly related to https but it is related to nginx (some might've experienced it) as it might cause 502 bad gateway when authorizing a client. It is due the fact that nginx doesn't allow a large header content. To fix that nginx.conf needs to be modified and inlcude

    http{
        proxy_buffer_size   128k;
        proxy_buffers   4 256k;
        proxy_busy_buf

[2022-06-28 06:53] #80 closed

[2022-06-28 06:54] senzacionale commented on #79
@skoruba any plans about that?

[2022-07-06 08:06] Diponchik commented on #65
Thank you @selangley-wa. Just added `webBuilder.UseStaticWebAssets();` to `Programs.cs` file for Duende.IdentityServer.Admin project and it works!

[2022-07-08 19:18] Charmedme opened #82 "What is the status of this project?"
Is this project still alive? What is the current status?
I haven't seen much activity here lately and I haven't seen any PR's being completed at all in the last few months.

[2022-07-10 10:50] skoruba commented on #82
Hello @Charmedme - I want to work on this project, but I have not had a time. I will create new release.
Is there something what you need?

Thanks

[2022-07-10 10:50] skoruba commented on #79
Hello, I will do it. Thanks!

[2022-07-10 10:51] skoruba commented on #65
Thank you for your PR, I will merge, sorry for the delay, I was busy.

[2022-07-10 14:27] senzacionale commented on #79
Hello. Great to hear that. Thanks!

[2022-07-12 20:42] Charmedme commented on #82
Hi, first, you’re doing an awesome job. Love the project. Thank you for that.

To answer the question. There are a few features that I like to see, but my priority should not be the priority of this project. I just hope the updates keeps coming.

The things I like to see are:
- Easier Active Directory intergration
- Extensible Razor views with custom code / override the views
- API and frontend th

[2022-07-18 15:03] marcantoinecouture commented on #66
@skoruba, if I submit a PR, can we add this feature in the next release?

[2022-07-21 07:22] skoruba commented on #66
Sure, thank you. 👌

[2022-08-01 14:04] skoruba commented on #82
Hi @cognitive-arch - Sure, I will start working on this project in September. Currently I am working on roadmap, what is important feature for you?

Thanks!

[2022-08-04 08:30] skoruba commented on #79
I will do it in the next version 1.2.0 - #56

[2022-08-04 17:11] cognitive-arch commented on #82
@skoruba good to know that you're working on the roadmap. I'll contribute with you to the roadmap that you're working on and will help you to speed up the development of this project.  Later on, we'll start working on introducing "Access Control List" or Policy Server kinda functionality in it.  That's the most demanding part according to my experience.

Secondly, I would love to build a detailed

[2022-08-04 20:15] marcantoinecouture commented on #82
Hi @skoruba . I would love to work on the project.

"Access Control List" and multi-tenancy are important features that I would like to contribute.

I will also work on #66 soon.

[2022-08-05 10:05] skoruba commented on #82
Thank you guys for your interest, I am happy for that. What exactly do you mean with "Access Control List"?

[2022-08-05 16:10] marcantoinecouture opened #89 "Add Docker images for linux/arm64 platform"
**Is your feature request related to a problem? Please describe.**
The actual images are not working on `linux/arm64` platform, even with emulation.

The following error occurs:
[code]

Similar errors in Admin and Admin-Api

**Describe the solution you'd like**
Compile the Docker images for `linux/arm64` platform.

**Describe alternatives you've considered**
For the moment, I built the images loca

[2022-08-06 06:21] senzacionale commented on #79
Great to hear. Thank you

[2022-08-12 00:15] shiningrise commented on #53
what version of mysql do you have? i use 5.7,Cannot start Duende server in visual Studio with MySql too

[2022-08-15 21:30] bcbeatty opened #90 "minimist vulnerabilities"
we were running scans of the Duende STS with skoruba container with Amazon Inspector and came across some critical vulnerabilities in the image having to do with the minimist package on the image

https://nvd.nist.gov/vuln/detail/CVE-2021-44906

do you have an update on addressing this?

[2022-08-16 10:33] mingyouzhu opened #91 "The user id configured in “identitydata.json” does not take effect"
The user id configured in identitydata.json does not take effect. Every time the data database is migrated, a new user id will be regenerated. I want to specify the user id by default. Is there any way?

[2022-08-16 15:19] bruceharrison1984 commented on #90
Most of the deps can be upgraded without requiring any changes. Some overrides are required because `gulp` hasn't been updated since 2019. You may consider dropping it in favor of something like `grunt` specifically because it is still actively maintain, and webpack seems like overkill here.

`bootstrap` cannot be easily upgraded due to a large number of breaking changes between v4 and v5.

`node-

[2022-08-22 07:16] skoruba commented on #90
Thanks @bruceharrison1984

[2022-08-22 07:16] senzacionale commented on #90
Can you add this to the new version which will be released?

[2022-08-22 07:20] senzacionale commented on #89
I am running it on Ubuntu Linux without any problem.

[2022-08-26 01:03] darthmolen commented on #78
I resolved this by implementing the docker helpers in my own code and also setting the OpenID stuff appropriately.

`csharp
builder.Services.Configure<CookiePolicyOptions>(options =>
{
    //options.Secure = CookieSecurePolicy.Always;
    options.MinimumSameSitePolicy = SameSiteMode.Unspecified;
    options.Secure = CookieSecurePolicy.Always;
    options.OnAppendCookie = cookieContext =>
        A

[2022-08-26 01:03] #78 closed

[2022-08-28 21:48] OblivionSY opened #93 "Upgrade from v4"
### Question

What is the recommended approach the Admin site to upgrade from IDS v4 to v6? I have updated the Identity Server, now want to update the management panel. I see this is a new repo for the Duende version, so do I just need to start again? (we didn't make (m)any modifications, just configured the app (clientId / secrets etc)

[2022-08-29 15:26] marcantoinecouture commented on #89
Do you have an arm64 processor?

[2022-09-08 18:06] cognitive-arch commented on #82
IDENTITY + PERMISSIONS = AUTHORIZATION

Identity is universal but permissions are application specific.  So precisely following is the feature we want to implement in this project.  (https://solliance.net/products/policyserver)

Because currently there's only role-based authorization is available in this admin server.

@marcantoinecouture please correct me if I'm wrong.

[2022-09-11 11:20] maha276 opened #94 "Upgrade IdentityServer4.Admin to Duende.IdentityServer.Admin"
I am using IdentityServer4.Admin project for a long time
What is the recommended approach to upgrade the same existing project to the latest version of Duende.IdentityServer.Admin ?

[2022-09-15 08:51] josephwambura opened #95 "Error when creating a new project using the default commands on ReadMe.md file"
### Describe the bug
Error when creating a new project using the default commands on ReadMe.md file

### To Reproduce
Used the default commands on ReadMe.md file to try and create a new project. Tried with cmd and powershell

### Relevant parts of the log file

[code]

[2022-09-26 08:08] senzacionale commented on #94
There is no recommendation. At least I didn't find it. Just do it by checking the code.

[2022-09-30 11:49] numb69 opened #98 "OpenIdConnectProtocolException - After STS redirected me back to Admin"
Hey guys,

I am struggling already for days getting this project running via docker on my workstation. I am not really experienced with docker or IdentityServer.

**What are my goals?**
I want to get this Skoruba Duende IdentityServer up and running in docker with the database provider Postgres and move it to azure later. I need it to test my Authentication Implementation in my project.

**What I

[2022-10-16 15:04] Removable opened #99 "Why is identity server issuer localhost?"
I created my project using `Skoruba.Duende.IdentityServer.Admin.Templates` and deployed the solution on my server via docker-compose.

But all the addresses in `openid-configuration` are localhost (I had already set `IssuerUri` in the environment with docker-compose.yml):

[code]

So I want to know if there are any configurations I missed, please help me! Thanks in advance!

[2022-10-18 03:14] #99 closed

[2022-10-18 03:14] Removable commented on #99
fixed

[2022-10-18 20:56] senzacionale commented on #79
Hi. Any plans about the upgrade?

[2022-10-26 17:22] skoruba commented on #79
Hi @senzacionale - sorry for the delay - I will do it, but I do not know when. :) I will send update.

Thanks!

[2022-10-28 19:17] tylerj-aft opened #100 "dotnet new skoruba.duende.isadmin item with same key already added"
### Describe the bug
When I run the dotnet new command, I get the errors listed below.

### To Reproduce
Steps to reproduce the behavior:

[code]

### Relevant parts of the log file

[code]

[2022-10-31 17:15] skoruba commented on #100
Thank you for reporting this issue - it looks like something has been changed in dot net tools probably.

I have to test it.

What version of .net tools do you use?

[2022-10-31 17:27] skoruba commented on #95
Same issue here: #100 - sorry for delay, I have to test it.

[2022-10-31 17:54] tylerj-aft commented on #100
@skoruba  I've tried it using Windows 11 with Powershell (.NET 6 and 7 SDKs installed) as well as on Ubuntu with same SDKs installed via WSL and a VS Code terminal window. Same result.

[2022-10-31 19:58] skoruba commented on #100
@tylerj-aft - thanks for info, I will test it.

[2022-11-02 00:59] tylerj-aft commented on #100
@skoruba when I removed .NET 7 RC 2 the template installs without issue. It's just the presence of .NET 7 preview it seems.

[2022-11-02 07:34] MarioBinder commented on #100
@tylerj-aft Thanks!
Same here. After removing the "_7.0.100-rc.1.22431.12_" Folder from "_C:\Program Files\dotnet\sdk\_" it works fine.

[2022-11-02 15:40] FL0D3V opened #101 "Multi-Tenancy / Group-System with management"
First of all thanks @skoruba for this great system.

So my "problem" is, that im currently developing a startup which will implement a company system for users. This means that there is the "master" user which created a company while registering or before buying a licence for a selection of programs we will sell later. This is state to change currently. That user can then manage multiple users ins

[2022-11-02 16:15] tylerj-aft commented on #100
@MarioBinder @skoruba thanks. For that and other tooling challenges (bleeding edge), I'm backing off .NET 7 for now.

[2022-11-10 14:53] erossini opened #102 "Log reason for a token failure"
I was working with the previous version of Skoruba and in this version the application saves in the Application Insights all token requests. If a request was failed, in the log I can see the reason.

With the new version, I can't find the same logs. Do you know how and if I can save in the log this info?

Thank you,
Enrico

[2022-11-10 23:28] darthmolen commented on #101
We need this same model as well.

[2022-11-10 23:34] darthmolen opened #103 "Trying to create new user using admin api causes 403"
### Question

When creating a new user via the admin api., I can get a token from the sts, but when I go to use it, it gives me a 403 without any information on what is causing the 403. Is there a way to turn on seeing 403 errors?

[code]
![image](https://user-images.githubusercontent.com/533340/201228223-c2ec9be5-a869-4ee6-b529-b9d44333c644.png)

[2022-11-14 16:42] MarioBinder opened #104 "Where is the vc:identity-server-link defined"
### Where is the vc:identity-server-link defined

Where can I change the url for the identityserver in the AdminUI? Currently, is the example url https://localhost:44310/ defined.

I found this in the _Layout.cshtml
[code]
But where can I find this custom control?

[2022-11-14 18:07] MarioBinder commented on #104
Thank you!

[2022-11-14 18:07] #104 closed

[2022-11-20 23:14] SvenAtGit opened #105 "Integration with Azure AD - Content Security Policy Error"
### Question

When i want to integrate wit Azure AD i get following error in the browser console.
Has someone an idea to fix this?

[code]

[2022-11-24 08:08] cypherbuild opened #106 "SSL Invalid: PartialChain (docker-compose)"
### Description
`AuthenticationException` when attempting to access the admin UI after initial build & run.
I can access `https://admin-api.skoruba.local/swagger` & `https://sts.skoruba.local` with no SSL errors.

I went through the steps with mkcert for some reason i don't think nginx config is handling the SSL passthrough correctly but I can't put my finger on it.

### Admin UI Reproduction

[2022-11-24 13:35] workcontrolgit commented on #72
I published a [blog](https://medium.com/scrum-and-coke/duende-identityserver-integration-with-external-providers-facebook-google-microsoft-github-and-b67bb74c5f1e?sk=6b8a54c3277d6026e34699fb68906309) on how to connect to GitHub, Facebook, Google, Microsoft, and Twitter.   For GitHub, set up the  “https://localhost:44310/signin-github” as the Authorization callback URL in GitHub developer console.

[2022-11-24 13:39] workcontrolgit commented on #34
I published a blog [Duende IdentityServer integration with Facebook, Google, Microsoft, GitHub, and Twitter](https://medium.com/scrum-and-coke/duende-identityserver-integration-with-external-providers-facebook-google-microsoft-github-and-b67bb74c5f1e?sk=6b8a54c3277d6026e34699fb68906309).   It has step-by-step instructions to setup and connect to popular social media platforms as external authentic

[2022-11-25 10:37] cypherbuild commented on #106
I may actually be able to debug this a little more.
I also noticed an issue with the dockery-compose debug where the output directory was actually set to .net5.0 instead of 6.0

[2022-11-25 11:40] michaelmarcuccio commented on #79
even better, update to Duende.IdentityServer.* version 6.2.0 now that it has released.

[2022-11-26 21:13] cypherbuild commented on #106
@skoruba could it be the URL mapping to the identity server within the docker network?

[2022-11-28 07:46] skoruba commented on #79
I am sorry for the delay, it is work in progress I will publish it with the latest version of Duende IS.